/* .card-img-top {
  width: 200%;
  height: 15vw;
  object-fit: cover;
}

.card-body {
  flex-grow: 0;
} */

body {
  height: 100%;
  z-index: 20;
  justify-content: center;
  align-items: center;
  padding: 10px;
  overflow: hidden;
  background: linear-gradient(
    90deg,
    #71b7e6,
    rgb(210, 213, 35),
    hsl(0, 72%, 49%)
  );
  background-size: 600% 100%;
  animation: gradient 10s linear infinite;
  animation-direction: alternate;
}
@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}

.ratings i {
  font-size: 16px;
  color: red;
}

.strike-text {
  color: red;
  text-decoration: line-through;
}

.product-image {
  width: 100%;
}

.dot {
  height: 7px;
  width: 7px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 3px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
}

.spec-1 {
  color: #938787;
  font-size: 15px;
}

h5 {
  font-weight: 400;
}

.para {
  font-size: 16px;
}
