<!-- Navigation Selector -->

<app-nav></app-nav>
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <!---<title> Responsive Registration Form | CodingLab </title>--->
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <!-- Registration Form For Customer -->

  <div class="container" style="margin-top: 5%;">
    <div class="title">Registration</div>
    <div class="content">

      <form (ngSubmit)="savecustomer()" [formGroup]="addForm">

        <div class="user-details">
          <div class="form-group input-box ">
            <label for="customerName" class="details">Customer Name:</label>
            <input type="text" formControlName="customerName" name="customerName" class="form-control"
              [(ngModel)]="customer.customerName" id="name" placeholder="Enter customerName">
            <div class="text-danger" *ngIf=" Submitted && addForm.controls.customerName.errors">Give name</div>
          </div>

          <div class="form-group input-box">
            <label for="customerPassword" class="details">Customer password:</label>
            <input type="password" formControlName="customerPassword" name="customerPassword" class="form-control"
              [(ngModel)]="customer.customerPassword" id="password" placeholder="Enter customerPassword">
            <div class="text-danger" *ngIf="Submitted && addForm.controls.customerPassword.errors">
              <div class="text-danger" *ngIf="addForm.controls.customerPassword.errors?.required">
               Please Enter your Password
              </div>
              <div class="text-danger" *ngIf="addForm.controls.customerPassword.errors?.pattern">
                8-10 Characters Required
              </div>
            </div>
          </div>

          <div class="form-group input-box">
            <label for="mobileNo" class="details">Customer mobileNo:</label>
            <input type="number" formControlName="mobileNo" name="mobileNo" class="form-control"
              [(ngModel)]="customer.mobileNo" id="mobileNo" placeholder="Enter mobileNo">
            <div *ngIf="Submitted && addForm.controls.mobileNo.errors">
              <div class="text-danger" *ngIf="addForm.controls.mobileNo.errors?.required">
                Mobile number is Required
              </div>
              <div class="text-danger" *ngIf="addForm.controls.mobileNo.errors?.minlength">
                Number should be in limits
              </div>
              <div class="text-danger" *ngIf="addForm.controls.mobileNo.errors?.maxlength">
                Max length 10
              </div>
              <div class="text-danger" *ngIf="addForm.controls.mobileNo.errors?.pattern">
                Number is Invalid
              </div>
            </div>
          </div>

          <div class="form-group input-box">
            <label for="email" class="details">Customer email:</label>
            <input type="email" formControlName="email" name="email" class="form-control" [(ngModel)]="customer.email"
              id="email" placeholder="Enter email">
            <div class="text-danger" *ngIf="Submitted && addForm.controls.email.errors">
              <div class="text-danger" *ngIf="addForm.controls.email.errors?.required">
                Email is Required
              </div>
              <div class="text-danger" *ngIf="addForm.controls.email.errors?.pattern">
                Email must be a valid 
              </div>
            </div>
          </div>

          <div class="form-group input-box">
            <label for="buildingNo" class="details">Customer buildingNo:</label>
            <input type="text" formControlName="buildingNo" name="buildingNo" class="form-control"
              [(ngModel)]="customer.address.buildingNo" id="buildingNo" placeholder="Enter buildingNo">
            <div class="text-danger" *ngIf=" Submitted && addForm.controls.buildingNo.errors">Give buildingNo</div>
          </div>


          <div class="form-group input-box">
            <label for="streetName" class="details">Customer streetName:</label>
            <input type="text" formControlName="streetName" name="streetName" class="form-control"
              [(ngModel)]="customer.address.streetName" id="streetName" placeholder="Enter streetName">
            <div class="text-danger" *ngIf=" Submitted && addForm.controls.streetName.errors">Give streetName</div>
          </div>


          <div class="form-group input-box">
            <label for="area" class="details">Customer area:</label>
            <input type="text" formControlName="area" name="area" class="form-control"
              [(ngModel)]="customer.address.area" id="area" placeholder="Enter area">
            <div class="text-danger" *ngIf=" Submitted && addForm.controls.area.errors">Give area</div>
          </div>



          <div class="form-group input-box">
            <label for="city" class="details">Customer city:</label>
            <input type="text" formControlName="city" name="city" class="form-control"
              [(ngModel)]="customer.address.city" id="city" placeholder="Enter city">
            <div class="text-danger" *ngIf=" Submitted && addForm.controls.city.errors">Give city</div>
          </div>


          <div class="form-group input-box">
            <label for="state" class="details">Customer state:</label>
            <input type="text" formControlName="state" name="state" class="form-control"
              [(ngModel)]="customer.address.state" id="state" placeholder="Enter state">
            <div class="text-danger" *ngIf=" Submitted && addForm.controls.state.errors">Give state</div>
          </div>



          <div class="form-group input-box">
            <label for="zip" class="details">Customer zipcode:</label>
            <input type="number" formControlName="zip" name="zip" class="form-control"
              [(ngModel)]="customer.address.zip" id="zip" placeholder="Enter zip">
            <div class="text-danger" *ngIf=" Submitted && addForm.controls.zip.errors">Give zip</div>
          </div>

          <div class="form-group role-details col-md-12">
            <label for="role" class="details">Customer Role:</label>
            <input type="radio" name="role" id="dot-1" formControlName="role" name="role" class="form-control"
              value="Retailer" [(ngModel)]="customer.role">
            <input type="radio" name="role" id="dot-2" formControlName="role" name="role" class="form-control"
              value="Sales Representative" [(ngModel)]="customer.role">

            <span class="role-title"></span>
            <div class="category">
              <label for="dot-1">
                <span class="dot one"></span>
                <span class="role">Retailer</span>
              </label>
              <label for="dot-2">
                <span class="dot two"></span>
                <span class="role">Sales Representative</span>
              </label>

            </div>
            <div class="text-danger" *ngIf=" Submitted && addForm.controls.role.errors">Give role</div>
          </div>

        </div>

        <!-- Register Button -->

        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>